<a href="https://colab.research.google.com/github/caryjim/Python_Exercise/blob/master/county_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

https://stackoverflow.com/questions/18986864/how-to-create-multiple-value-dictionary-from-pandas-data-frame

### Add state abbreviation to broadband data

In [ ]:
#Broadband Now released data on github
broadbandurl = 'https://raw.githubusercontent.com/BroadbandNow/Open-Data/master/broadband_data_opendatachallenge.csv?raw=True'
broadband = pd.read_csv(broadbandurl, sep=',', encoding='latin-1')
# The raw data have numerical values in population, percent of access and lowest price.
# However, they were loaded as character and needs to be converted to numeric

In [ ]:
broadband.head()

     Zip  Population     County  ... Wired100_3_2015  All25_3_2015  All100_3.1
0  29620     12934.0  Abbeville  ...             3.0           3.0         3.0
1  29628      2759.0  Abbeville  ...             3.0           3.0         3.0
2  29638      2944.0  Abbeville  ...             2.0           2.0         2.0
3  29639      1742.0  Abbeville  ...             3.0           3.0         3.0
4  70516      1546.0     Acadia  ...             1.0           2.0         1.0

[5 rows x 23 columns]

In [ ]:
# Broadband Usage Estimates by County Level 
microsoft = 'https://raw.githubusercontent.com/microsoft/USBroadbandUsagePercentages/3cc660f1f54fd73274527a4a60ef870726abf2ba/dataset/broadband_data_zipcode.csv?raw=true'

usage_zip = pd.read_csv(microsoft, sep = ",")

In [ ]:
usage_zip.head()

   ST COUNTY NAME  ...  ERROR RANGE (95%)(+/-)    MSD
0  SC   Abbeville  ...                   0.110  0.002
1  SC   Abbeville  ...                   0.007  0.000
2  SC   Abbeville  ...                   0.608  0.043
3  SC   Abbeville  ...                   0.031 -0.001
4  SC   Abbeville  ...                   0.043  0.000

[5 rows x 8 columns]

In [ ]:
#I found a list of State abbrevation and state name key:value pair, load the file into Colab before running this. 
state_list = pd.read_csv('/content/state_ablist.txt', delimiter= '|', header=None)

In [ ]:
state_list.head()

    0           1
0  AL     Alabama
1  AK      Alaska
2  AZ     Arizona
3  AR    Arkansas
4  CA  California

In [ ]:
#Turn state list into key-value pair 
state_abb = dict(zip(state_list[1], state_list[0]))

In [ ]:
state_abb

In [ ]:
#Add a column of state abbreviation Broadband data 
broadband["ST"] = broadband["State"].map(state_abb)

In [ ]:
broadband.head()

     Zip  Population     County  ... All25_3_2015  All100_3.1  ST
0  29620     12934.0  Abbeville  ...          3.0         3.0  SC
1  29628      2759.0  Abbeville  ...          3.0         3.0  SC
2  29638      2944.0  Abbeville  ...          2.0         2.0  SC
3  29639      1742.0  Abbeville  ...          3.0         3.0  SC
4  70516      1546.0     Acadia  ...          2.0         1.0  LA

[5 rows x 24 columns]

In [ ]:
usage_zip.head()

   ST COUNTY NAME  ...  ERROR RANGE (95%)(+/-)    MSD
0  SC   Abbeville  ...                   0.110  0.002
1  SC   Abbeville  ...                   0.007  0.000
2  SC   Abbeville  ...                   0.608  0.043
3  SC   Abbeville  ...                   0.031 -0.001
4  SC   Abbeville  ...                   0.043  0.000

[5 rows x 8 columns]

### Map zip code and county ID to a new column in broadband data

Create a dictionary for Zipcode and County ID pairs from SEDA Crosswalk file [HUB Crosswalk](https://www.huduser.gov/portal/datasets/usps_crosswalk.html)

In [ ]:
#Load the modified HUB Crosswalk file 2019 1st Quarter into Google Colab first
hub = pd.read_csv('/content/ZIP_county.txt', delimiter= '\t')

In [ ]:
hub.head()

   zip  county
0  606   72093
1  617   72017
2  617   72054
3  674   72145
4  674   72091

In [ ]:
hub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53818 entries, 0 to 53817
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   zip     53818 non-null  int64
 1   county  53818 non-null  int64
dtypes: int64(2)
memory usage: 841.0 KB

In [ ]:
#seda['countyid'] = seda['countyid'].astype('Int64')
#seda['lzip'] = seda['lzip'].astype('Int64')  
#when conver to int, it is giving error message due to missing values, assign it as Int64 solved the problem

In [ ]:
zip_county_ID = dict(zip(hub['zip'], hub['county']))
zip_county_ID

In [ ]:
# zip_county_ID = dict(zip(usage_zip['POSTAL CODE'], usage_zip['COUNTY ID']))
# This list use the usage data, but some zip codes are not having county information in this list for mapping

In [ ]:
#Add a column of countyID to the Broadband data by zipcode
broadband["countyID"] = broadband["Zip"].map(zip_county_ID)

In [ ]:
broadband.head()

     Zip  Population     County  ... All100_3.1  ST  countyID
0  29620     12934.0  Abbeville  ...        3.0  SC   45001.0
1  29628      2759.0  Abbeville  ...        3.0  SC   45065.0
2  29638      2944.0  Abbeville  ...        2.0  SC   45001.0
3  29639      1742.0  Abbeville  ...        3.0  SC   45001.0
4  70516      1546.0     Acadia  ...        1.0  LA   22001.0

[5 rows x 25 columns]

In [ ]:
broadband['countyID'].isna().sum()

1378

In [ ]:
broadband[broadband['countyID'].isnull()] #Double Brackets will select the rows that have missing values in the countyID column

         Zip  Population              County  ... All100_3.1  ST  countyID
13     23345         NaN            Accomack  ...        NaN  VA       NaN
17     23396         NaN            Accomack  ...        NaN  VA       NaN
18     23399         NaN            Accomack  ...        NaN  VA       NaN
41     83721         NaN                 Ada  ...        NaN  ID       NaN
42     83722         NaN                 Ada  ...        NaN  ID       NaN
...      ...         ...                 ...  ...        ...  ..       ...
32479  99950         NaN   Ketchikan Gateway  ...        NaN  AK       NaN
32481  99619         NaN       Kodiak Island  ...        NaN  AK       NaN
32486  99697         NaN       Kodiak Island  ...        NaN  AK       NaN
32487  99695         7.0  Lake and Peninsula  ...        0.0  AK       NaN
32500  99629         NaN   Matanuska-Susitna  ...        NaN  AK       NaN

[1378 rows x 25 columns]

In [ ]:
#export the file for use 

# This allow you to set up google drive as the directory. 
from google.colab import drive
drive.mount('/content/drive')

import os   # Assign the folder as current directory 
os.chdir('/content/drive/My Drive/Colab Notebooks/Create county id and name dictionary')

broadband.to_csv(('/content/drive/My Drive/Colab Notebooks/Create county id and name dictionary/broadband.csv'), index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Create a multiple value dictionary from the microsoft dataset

In [ ]:
# https://stackoverflow.com/questions/58179593/how-to-combine-join-and-lambda-x-x-tolist-inside-an-groupby-agg-functio

In [ ]:
#has to convert values to string before using this 
broadband['Zip'] = broadband['Zip'].astype(str)
df1 = broadband.groupby('County')['Zip'].agg([('a', ';'.join), ('b',  lambda x: x.tolist())])

In [ ]:
df1.head()

                                                           a                                                  b
County
Abbeville                            29620;29628;29638;29639                       [29620, 29628, 29638, 29639]
Acadia       70516;70525;70526;70531;70537;70543;70559;70578  [70516, 70525, 70526, 70531, 70537, 70543, 705...
Accomack   23302;23345;23357;23358;23359;23396;23399;2340...  [23302, 23345, 23357, 23358, 23359, 23396, 233...
Ada        83708;83720;83721;83722;83724;83725;83726;8372...  [83708, 83720, 83721, 83722, 83724, 83725, 837...
Adair      50002;50070;50837;50846;50849;50858;42715;4274...  [50002, 50070, 50837, 50846, 50849, 50858, 427...

In [ ]:
#Make County ID and County Name as a dictionary 
county_list = dict(zip(usage_zip['COUNTY NAME'], usage_zip['COUNTY ID']))

In [ ]:
a = usage_zip.groupby('POSTAL CODE')
#First, group the zip code values in the usage dataset, a is stored as a grouby-dataframe 
a['COUNTY ID'].apply(lambda s: s.tolist())
#Apply tolist() function to each of the group in zipcode by County ID

POSTAL CODE
1001     [25013]
1002     [25015]
1003     [25015]
1005     [25027]
1007     [25015]
          ...
99923     [2198]
99925     [2198]
99926     [2198]
99927     [2198]
99929     [2275]
Name: COUNTY ID, Length: 32653, dtype: object

Check ELSI data from NCES

In [ ]:
school = pd.read_csv('/content/ELSI_csv_export_title1.csv', delimiter= ',')

In [ ]:
school.head()

                       School Name  ... ANSI/FIPS State Code [Public School] Latest available year
0  1 LT CHARLES W. WHITCOMB SCHOOL  ...                                               25.0
1               10TH STREET SCHOOL  ...                                               53.0
2        112 ALC INDEPENDENT STUDY  ...                                               27.0
3            112 ALC MIDDLE SCHOOL  ...                                               27.0
4               112 ALC SEAT-BASED  ...                                               27.0

[5 rows x 9 columns]

In [ ]:
school['County Number [Public School] 2018-19'].nunique()

3138

Array https://stackoverflow.com/questions/30631841/pandas-how-do-i-assign-values-based-on-multiple-conditions-for-existing-columns

In [ ]:
conditions = [
    df['gender'].eq('male') & df['pet1'].eq(df['pet2']),
    df['gender'].eq('female') & df['pet1'].isin(['cat', 'dog'])
]

choices = [5,5]

df['points'] = np.select(conditions, choices, default=0)

In [ ]:
import numpy as np

In [ ]:
x = np.arange(10)
condlist = [x<3, x>5]
choicelist = [x, x**2]
np.select(condlist, choicelist)
array([ 0,  1,  2, ..., 49, 64, 81])
# https://numpy.org/doc/stable/reference/generated/numpy.select.html

In [ ]:
condlist